# core/templates/core/document_list.html

{% extends "base.html" %}

{% block content %}
    <h2>Documents</h2>
    <table width="50%">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Created by</th>
                <th>Created at</th>
                <th>File</th>
            </tr>
        </thead>
        {% for document in object_list %}
            <tr>
<!--            <td>{{ document.title }}</td>-->
<!--            <td>{{document.description}}</td>-->
<!--            <td>{{document.created_by}}</td>-->
<!--            <td>{{document.created_at}}</td>-->

            </tr>
        {% endfor %}
    </table>
{% endblock %}