.input{
    height: 36px;
    border-radius: 5px;
    border:0px;
    margin-top: 10px;
    margin-right: 10px;
    background-color: #323645;
    width: 300px;
    color: white;
}

#signUpForm{
    width:400px
}